<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-game-heading" jhiTranslate="playwinApp.game.home.createOrEditLabel">Create or edit a Game</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!game.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.gameName" for="field_gameName">Game Name</label>
                    <input type="text" class="form-control" name="gameName" id="field_gameName"
                           formControlName="gameName"/>
                    <div *ngIf="editForm.get('gameName').invalid && (editForm.get('gameName').dirty || editForm.get('gameName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gameName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.startTime" for="field_startTime">Start Time</label>
                    <div class="d-flex">
                        <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" formControlName="startTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('startTime').invalid && (editForm.get('startTime').dirty || editForm.get('startTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.endTime" for="field_endTime">End Time</label>
                    <div class="d-flex">
                        <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" formControlName="endTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('endTime').invalid && (editForm.get('endTime').dirty || editForm.get('endTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.interval" for="field_interval">Interval</label>
                    <input type="number" class="form-control" name="interval" id="field_interval"
                           formControlName="interval"/>
                    <div *ngIf="editForm.get('interval').invalid && (editForm.get('interval').dirty || editForm.get('interval').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('interval').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('interval')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.numberRangeFrom" for="field_numberRangeFrom">Number Range From</label>
                    <input type="number" class="form-control" name="numberRangeFrom" id="field_numberRangeFrom"
                           formControlName="numberRangeFrom"/>
                    <div *ngIf="editForm.get('numberRangeFrom').invalid && (editForm.get('numberRangeFrom').dirty || editForm.get('numberRangeFrom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberRangeFrom').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberRangeFrom')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.numberRangeTo" for="field_numberRangeTo">Number Range To</label>
                    <input type="number" class="form-control" name="numberRangeTo" id="field_numberRangeTo"
                           formControlName="numberRangeTo"/>
                    <div *ngIf="editForm.get('numberRangeTo').invalid && (editForm.get('numberRangeTo').dirty || editForm.get('numberRangeTo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberRangeTo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberRangeTo')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.game.isEnable" for="field_isEnable">Is Enable</label>
                    <input type="checkbox" class="form-control" name="isEnable" id="field_isEnable"
                           formControlName="isEnable"/>
                </div>

                <div class="form-group">
                    <label  for="field_users">Exclude User</label>
                    <select class="form-control" id="field_users" multiple name="users" formControlName="users">
                        <option [ngValue]="getSelected(editForm.get('users').value, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
