<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.game.home.title">Games</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game" [routerLink]="['/game/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="playwinApp.game.home.createLabel">
            Create new Game
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'playwinApp.game.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="games">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gameName"><span jhiTranslate="playwinApp.game.gameName">Game Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="playwinApp.game.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startTime"><span jhiTranslate="playwinApp.game.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endTime"><span jhiTranslate="playwinApp.game.endTime">End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interval"><span jhiTranslate="playwinApp.game.interval">Interval</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberRangeFrom"><span jhiTranslate="playwinApp.game.numberRangeFrom">Number Range From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberRangeTo"><span jhiTranslate="playwinApp.game.numberRangeTo">Number Range To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isEnable"><span jhiTranslate="playwinApp.game.isEnable">Is Enable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let game of games ;trackBy: trackId">
                <td><a [routerLink]="['/game', game.id, 'view' ]">{{game.id}}</a></td>
                <td>{{game.gameName}}</td>
                <td>{{game.description}}</td>
                <td>{{game.startTime | date:'medium'}}</td>
                <td>{{game.endTime | date:'medium'}}</td>
                <td>{{game.interval}}</td>
                <td>{{game.numberRangeFrom}}</td>
                <td>{{game.numberRangeTo}}</td>
                <td>{{game.isEnable}}</td>
                <td>
                        <button class="btn btn-danger btn-sm" (click)="setEnable(game, true)" *ngIf="!game.isEnable"
                                >Deactivated</button>
                        <button class="btn btn-success btn-sm" (click)="setEnable(game, false)" *ngIf="game.isEnable"
                                >Activated</button>
                    </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/game', game.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/game', game.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'game', { outlets: { popup: game.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="games && games.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
