<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="game">
            <h2><span jhiTranslate="playwinApp.game.detail.title">Game</span> {{game.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.game.gameName">Game Name</span></dt>
                <dd>
                    <span>{{game.gameName}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.description">Description</span></dt>
                <dd>
                    <span>{{game.description}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.startTime">Start Time</span></dt>
                <dd>
                    <span>{{game.startTime}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.endTime">End Time</span></dt>
                <dd>
                    <span>{{game.endTime}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.interval">Interval</span></dt>
                <dd>
                    <span>{{game.interval}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.numberRangeFrom">Number Range From</span></dt>
                <dd>
                    <span>{{game.numberRangeFrom}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.numberRangeTo">Number Range To</span></dt>
                <dd>
                    <span>{{game.numberRangeTo}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.isEnable">Is Enable</span></dt>
                <dd>
                    <span>{{game.isEnable}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.game.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of game.users; let last = last">
                        {{user.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game', game.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
