<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coin-heading" jhiTranslate="playwinApp.coin.home.createOrEditLabel">Create or edit a Coin</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!coin.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.coin.cointType" for="field_cointType">Coint Type</label>
                    <input type="text" class="form-control" name="cointType" id="field_cointType"
                           formControlName="cointType"/>
                    <div *ngIf="editForm.get('cointType').invalid && (editForm.get('cointType').dirty || editForm.get('cointType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cointType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.coin.displayName" for="field_displayName">Display Name</label>
                    <input type="text" class="form-control" name="displayName" id="field_displayName"
                           formControlName="displayName"/>
                    <div *ngIf="editForm.get('displayName').invalid && (editForm.get('displayName').dirty || editForm.get('displayName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('displayName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.coin.basePrice" for="field_basePrice">Base Price</label>
                    <input type="number" class="form-control" name="basePrice" id="field_basePrice"
                           formControlName="basePrice"/>
                    <div *ngIf="editForm.get('basePrice').invalid && (editForm.get('basePrice').dirty || editForm.get('basePrice').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('basePrice').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('basePrice')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.coin.baseWinningPrice" for="field_baseWinningPrice">Base Winning Price</label>
                    <input type="number" class="form-control" name="baseWinningPrice" id="field_baseWinningPrice"
                           formControlName="baseWinningPrice"/>
                    <div *ngIf="editForm.get('baseWinningPrice').invalid && (editForm.get('baseWinningPrice').dirty || editForm.get('baseWinningPrice').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('baseWinningPrice').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('baseWinningPrice')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.coin.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.coin.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.coin.game" for="field_game">Game</label>
                    <select class="form-control" id="field_game" name="game" formControlName="game">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gameOption.id === editForm.get('game').value?.id ? editForm.get('game').value : gameOption" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.gameName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
