<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.coin.home.title">Coins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coin" [routerLink]="['/coin/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="playwinApp.coin.home.createLabel">
            Create new Coin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'playwinApp.coin.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="coins">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cointType"><span jhiTranslate="playwinApp.coin.cointType">Coint Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayName"><span jhiTranslate="playwinApp.coin.displayName">Display Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="basePrice"><span jhiTranslate="playwinApp.coin.basePrice">Base Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseWinningPrice"><span jhiTranslate="playwinApp.coin.baseWinningPrice">Base Winning Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="playwinApp.coin.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="playwinApp.coin.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="game.gameName"><span jhiTranslate="playwinApp.coin.game">Game</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coin of coins ;trackBy: trackId">
                <td><a [routerLink]="['/coin', coin.id, 'view' ]">{{coin.id}}</a></td>
                <td>{{coin.cointType}}</td>
                <td>{{coin.displayName}}</td>
                <td>{{coin.basePrice}}</td>
                <td>{{coin.baseWinningPrice}}</td>
                <td>{{coin.description}}</td>
                <td>
                    {{coin.user?.login}}
                </td>
                <td>
                    <div *ngIf="coin.game">
                        <a [routerLink]="['../game', coin.game?.id, 'view' ]" >{{coin.game?.gameName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/coin', coin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/coin', coin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'coin', { outlets: { popup: coin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="coins && coins.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
