<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coin">
            <h2><span jhiTranslate="playwinApp.coin.detail.title">Coin</span> {{coin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.coin.cointType">Coint Type</span></dt>
                <dd>
                    <span>{{coin.cointType}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.coin.displayName">Display Name</span></dt>
                <dd>
                    <span>{{coin.displayName}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.coin.basePrice">Base Price</span></dt>
                <dd>
                    <span>{{coin.basePrice}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.coin.baseWinningPrice">Base Winning Price</span></dt>
                <dd>
                    <span>{{coin.baseWinningPrice}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.coin.description">Description</span></dt>
                <dd>
                    <span>{{coin.description}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.coin.user">User</span></dt>
                <dd>
                    {{coin.user?.login}}
                </dd>
                <dt><span jhiTranslate="playwinApp.coin.game">Game</span></dt>
                <dd>
                    <div *ngIf="coin.game">
                        <a [routerLink]="['/game', coin.game?.id, 'view']">{{coin.game?.gameName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coin', coin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
