<style>
        .footet_txt {
            margin: 10px;
            padding-top: 30px;
        }
</style>
<footer class="footer">
        <div class="footer_bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="footet_txt">
                            <h3>About</h3>
                            <p>
                                We strive to deliver a level of service that exceeds the expectations of our customers.
                                <br> <br>
                                If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="footet_txt">
                            <h3>Tweets</h3>
                            <div class="box_twit">
                                <span>Tweet You</span>
                                <p>Etiam egestas, ipsum posuere accumsan sollicitudin, nulla mauris volutpat sem, sit amet rutrum risus.</p>
                                <br>
                                <span>Tweet You</span>
                                <p>Quisque porta tellus vitae adipiscing molestie. Mauris et lacus blandit, malesuada.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="footet_txt">
                            <h3>Mailing list</h3>
                            <div class="box_twit">
                                <p>Subscribe to our mailing list for offers, news updates and more!</p>
                                <div class="search_box">
                                    <input type="text" class="box_in display_t" placeholder="Enter Email Id">
                                    <button type="submit" class="display_t btn_v">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="footet_txt">
                            <h3>Contact Us</h3>
                            <div class="box_twit">
                                <ul class="clearfix nc_cnt">
                                    <li>
                                        <a>
                                            <span class="po_fo"><i class="fa fa-map-marker"></i></span><strong>
                                                Address
                                            </strong>
                                            <p>
                                                Maharastra , India 
                                            </p>
                                        </a>
                                    </li>


                                    <li>
                                        <a href="tel:9999999999">
                                            <span class="po_fo"><i class="fa fa-phone"></i></span><strong>Phone</strong>
                                            <p>
                                                +91-9999999999
                                            </p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="mailto:support@playwinonline.in">
                                            <span class="po_fo"><i class="fa fa-envelope"></i></span><strong>Email:</strong>
                                            <p>
                                                 support@playwinonline.in
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_b">
                <span>© Copyright    Playwin Online  All Rights Reserved.</span>
            </div>
        </div>
    </footer>