<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-publish-heading" jhiTranslate="playwinApp.publish.home.createOrEditLabel">Create or edit a Publish</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!publish.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.publish.bidNo" for="field_bidNo">Bid No</label>
                    <input type="number" class="form-control" name="bidNo" id="field_bidNo"
                           formControlName="bidNo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.publish.coinA" for="field_coinA">Coin A</label>
                    <input type="number" class="form-control" name="coinA" id="field_coinA"
                           formControlName="coinA"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.publish.coinB" for="field_coinB">Coin B</label>
                    <input type="number" class="form-control" name="coinB" id="field_coinB"
                           formControlName="coinB"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.publish.coinC" for="field_coinC">Coin C</label>
                    <input type="number" class="form-control" name="coinC" id="field_coinC"
                           formControlName="coinC"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
