<div>
    <h2 id="page-heading">
        <span >Publish Result</span>

    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-4" *ngFor="let game of gameDtos; index as i">
            <small>{{game.game.gameName}}</small>
            <div class="form-group">
                <label class="form-control-label" for="field_startTime">Publish Time</label>
                <div class="d-flex">
                    <input [ngModel]="game.publishDate | date:'yyyy-MM-dd'" type="date" name="publishDate"/>
                    <select (change)="selectTime(game.game,i, timeArr[i])" [(ngModel)]="timeArr[i]" name="date-{{game.game.id}}" id="date-{{game.game.id}}">
                        <option *ngFor="let time of timeValArr[i]" 
                            value="{{time}}" >
                            {{time}} 
                        </option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span >No</span></th>
                            <th *ngFor="let coin of game.game.coins"><span> {{coin.displayName}} ={{coin.basePrice}}</span></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bidDto of game.bidDtos">
                            <td>{{bidDto.bidNo}}</td>
                            <td *ngFor="let coinDto of bidDto.coins">
                               <span> {{coinDto.noOfCoin}}</span>
                            </td>
                          
                        </tr>
                        <tr>
                            <td>Publish</td>
                            <td *ngFor="let coinDto of game.bidDtos[0].coins">
                                <input  type="number" 
                                 [(ngModel)] ="coinDto.publishValue"
                                 class="form-control"
                                 (blur)="publish(game,coinDto,timeArr[i],i)" 
                                 [min]="game.numberRangeFrom"
                                 [max]="game.numberRangeTo"
                                 value="{{coinDto.publishValue}}"
 
                                 />
                             </td>  
                        </tr>
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
   
</div>