<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="publish">
            <h2><span jhiTranslate="playwinApp.publish.detail.title">Publish</span> {{publish.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.publish.bidNo">Bid No</span></dt>
                <dd>
                    <span>{{publish.bidNo}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.publish.coinA">Coin A</span></dt>
                <dd>
                    <span>{{publish.coinA}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.publish.coinB">Coin B</span></dt>
                <dd>
                    <span>{{publish.coinB}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.publish.coinC">Coin C</span></dt>
                <dd>
                    <span>{{publish.coinC}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/publish', publish.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
