<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gameDrawConfig">
            <h2><span jhiTranslate="playwinApp.gameDrawConfig.detail.title">Game Draw Config</span> {{gameDrawConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.gameDrawConfig.priority">Priority</span></dt>
                <dd>
                    <span>{{gameDrawConfig.priority}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameDrawConfig.rangeFrom">Range From</span></dt>
                <dd>
                    <span>{{gameDrawConfig.rangeFrom}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameDrawConfig.rangeTo">Range To</span></dt>
                <dd>
                    <span>{{gameDrawConfig.rangeTo}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameDrawConfig.active">Active</span></dt>
                <dd>
                    <span>{{gameDrawConfig.active}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameDrawConfig.game">Game Id</span></dt>
                <dd>
                    <div *ngIf="gameDrawConfig.game">
                        <a [routerLink]="['/game', gameDrawConfig.game?.id, 'view']">{{gameDrawConfig.game?.gameName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameDrawConfig.coin">Coin</span></dt>
                <dd>
                    <div *ngIf="gameDrawConfig.coin">
                        <a [routerLink]="['/coin', gameDrawConfig.coin?.id, 'view']">{{gameDrawConfig.coin?.displayName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game-draw-config', gameDrawConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
