<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.gameDrawConfig.home.title">Game Draw Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game-draw-config" [routerLink]="['/game-draw-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="playwinApp.gameDrawConfig.home.createLabel">
            Create a new Game Draw Config
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'playwinApp.gameDrawConfig.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="gameDrawConfigs?.length === 0">
        <span jhiTranslate="playwinApp.gameDrawConfig.home.notFound">No gameDrawConfigs found</span>
    </div>
    <div class="table-responsive" *ngIf="gameDrawConfigs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="playwinApp.gameDrawConfig.priority">Priority</span></th>
            <th scope="col" ><span jhiTranslate="playwinApp.gameDrawConfig.rangeFrom">Range From</span></th>
            <th scope="col" ><span jhiTranslate="playwinApp.gameDrawConfig.rangeTo">Range To</span></th>
            <th scope="col" ><span jhiTranslate="playwinApp.gameDrawConfig.active">Active</span></th>
            <th scope="col" ><span jhiTranslate="playwinApp.gameDrawConfig.game">Game Id</span></th>
            <th scope="col" ><span jhiTranslate="playwinApp.gameDrawConfig.coin">Coin</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gameDrawConfig of gameDrawConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/game-draw-config', gameDrawConfig.id, 'view' ]">{{gameDrawConfig.id}}</a></td>
                <td>{{getPriority(gameDrawConfig.priority)}}</td>
                <td>{{gameDrawConfig.rangeFrom}}</td>
                <td>{{gameDrawConfig.rangeTo}}</td>
                <td>{{gameDrawConfig.active}}</td>
                <td>
                    <div *ngIf="gameDrawConfig.game">
                        <a [routerLink]="['/game', gameDrawConfig.game?.id, 'view' ]" >{{gameDrawConfig.game?.gameName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gameDrawConfig.coin">
                        <a [routerLink]="['/coin', gameDrawConfig.coin?.id, 'view' ]" >{{gameDrawConfig.coin?.displayName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/game-draw-config', gameDrawConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/game-draw-config', gameDrawConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/game-draw-config', { outlets: { popup: gameDrawConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
