<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-game-draw-config-heading" jhiTranslate="playwinApp.gameDrawConfig.home.createOrEditLabel">Create or edit a Game Draw Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameDrawConfig.priority" for="field_priority">Priority</label>
                    
                    <select class="form-control" id="field_priority" name="priority" formControlName="priority">
                        <option [ngValue]="1">Min</option>
                        <option [ngValue]="2">Max</option>
                        <option [ngValue]="3">Range</option>
                    </select>                           
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameDrawConfig.rangeFrom" for="field_rangeFrom">Range From</label>
                    <input type="number" class="form-control" name="rangeFrom" id="field_rangeFrom"
                           formControlName="rangeFrom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameDrawConfig.rangeTo" for="field_rangeTo">Range To</label>
                    <input type="number" class="form-control" name="rangeTo" id="field_rangeTo"
                           formControlName="rangeTo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameDrawConfig.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameDrawConfig.game" for="field_game">Game</label>
                    <select class="form-control" id="field_game" name="game" formControlName="game" (change)="gameChange(null)">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gameOption.id === editForm.get('game').value?.id ? editForm.get('game').value : gameOption" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.gameName}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('coin').invalid && (editForm.get('game').dirty || editForm.get('game').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('game').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameDrawConfig.coin" for="field_coin">Coin</label>
                    <select class="form-control" id="field_coin" name="coin" formControlName="coin">
                        <option *ngIf="!editForm.get('coin').value" [ngValue]="null" selected></option>
                        <option [ngValue]="coinOption.id === editForm.get('coin').value?.id ? editForm.get('coin').value : coinOption" *ngFor="let coinOption of coins; trackBy: trackCoinById">{{coinOption.displayName}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('coin').invalid && (editForm.get('coin').dirty || editForm.get('coin').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('coin').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
