<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userPref">
            <h2><span jhiTranslate="playwinApp.userPref.detail.title">User Pref</span> {{userPref.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.userPref.distributorShare">Distributor Share</span></dt>
                <dd>
                    <span>{{userPref.distributorShare}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.userPref.isSpecificPrice">Is Specific Price</span></dt>
                <dd>
                    <span>{{userPref.isSpecificPrice}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.userPref.mobileNo">Mobile No</span></dt>
                <dd>
                    <span>{{userPref.mobileNo}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.userPref.user">User</span></dt>
                <dd>
                    {{userPref.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-pref', userPref.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
