<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-pref-heading" jhiTranslate="playwinApp.userPref.home.createOrEditLabel">Create or edit a User Pref</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userPref.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.userPref.distributorShare" for="field_distributorShare">Distributor Share</label>
                    <input type="number" class="form-control" name="distributorShare" id="field_distributorShare"
                           formControlName="distributorShare"/>
                    <div *ngIf="editForm.get('distributorShare').invalid && (editForm.get('distributorShare').dirty || editForm.get('distributorShare').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('distributorShare').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('distributorShare')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.userPref.isSpecificPrice" for="field_isSpecificPrice">Is Specific Price</label>
                    <input type="checkbox" class="form-control" name="isSpecificPrice" id="field_isSpecificPrice"
                           formControlName="isSpecificPrice"/>
                    <div *ngIf="editForm.get('isSpecificPrice').invalid && (editForm.get('isSpecificPrice').dirty || editForm.get('isSpecificPrice').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isSpecificPrice').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.userPref.mobileNo" for="field_mobileNo">Mobile No</label>
                    <input type="text" class="form-control" name="mobileNo" id="field_mobileNo"
                           formControlName="mobileNo"/>
                    <div *ngIf="editForm.get('mobileNo').invalid && (editForm.get('mobileNo').dirty || editForm.get('mobileNo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mobileNo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.userPref.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
