<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="redeem">
            <h2><span jhiTranslate="playwinApp.redeem.detail.title">Redeem</span> {{redeem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.redeem.status">Status</span></dt>
                <dd>
                    <span>{{redeem.status}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.redeem.amount">Amount</span></dt>
                <dd>
                    <span>{{redeem.amount}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.redeem.approvedBy">Approved By</span></dt>
                <dd>
                    <span>{{redeem.approvedBy}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.redeem.remarks">Remarks</span></dt>
                <dd>
                    <span>{{redeem.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.redeem.createdOn">Created On</span></dt>
                <dd>
                    <span>{{redeem.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.redeem.lastModifiedOn">Last Modified On</span></dt>
                <dd>
                    <span>{{redeem.lastModifiedOn}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.redeem.user">User</span></dt>
                <dd>
                    {{redeem.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/redeem', redeem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
