<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.redeem.home.title">Redeems</span>
        <button *ngIf="currentAccount?.authorities.indexOf('ROLE_ADMIN') === -1" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-redeem" [routerLink]="['/redeem/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down">
             Redeem Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <jhi-user-filter (userChange)="loadRedeem($event)" [account]="currentAccount"></jhi-user-filter>
    <br/>
    <div class="table-responsive" *ngIf="redeems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="playwinApp.redeem.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="playwinApp.redeem.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="approvedBy"><span jhiTranslate="playwinApp.redeem.approvedBy">Approved By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="playwinApp.redeem.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdOn"><span jhiTranslate="playwinApp.redeem.createdOn">Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedOn"><span jhiTranslate="playwinApp.redeem.lastModifiedOn">Last Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="playwinApp.redeem.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let redeem of redeems |orderBy:lastModifiedOn ;trackBy: trackId ">
                <td><a [routerLink]="['/redeem', redeem.id, 'view' ]">{{redeem.id}}</a></td>
                <td>{{redeem.status}}</td>
                <td>{{redeem.amount}}</td>
                <td>{{redeem.approvedBy}}</td>
                <td>{{redeem.remarks}}</td>
                <td>{{redeem.createdOn | date:'medium'}}</td>
                <td>{{redeem.lastModifiedOn | date:'medium'}}</td>
                <td>
                    {{redeem.user?.login}}
                </td>
                <td class="text-right">
                    <td *ngIf="currentAccount?.authorities.indexOf('ROLE_ADMIN') !== -1">
                        <button class="btn btn-danger btn-sm" (click)="approve(redeem)" *ngIf="redeem.status === 'Pending'"
                              >Approve</button>
                        
                    </td>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="redeems && redeems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
