<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentCommision">
            <h2><span jhiTranslate="playwinApp.agentCommision.detail.title">Agent Commision</span> {{agentCommision.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.agentCommision.commisionPercentage">Commision Percentage</span></dt>
                <dd>
                    <span>{{agentCommision.commisionPercentage}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.agentCommision.user">User</span></dt>
                <dd>
                    {{agentCommision.user?.login}}
                </dd>
                <dt><span jhiTranslate="playwinApp.agentCommision.coin">Coin</span></dt>
                <dd>
                    <div *ngIf="agentCommision.coin">
                        <a [routerLink]="['/coin', agentCommision.coin?.id, 'view']">{{agentCommision.coin?.displayName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="playwinApp.agentCommision.game">Game</span></dt>
                <dd>
                    <div *ngIf="agentCommision.game">
                        <a [routerLink]="['/game', agentCommision.game?.id, 'view']">{{agentCommision.game?.displayName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-commision', agentCommision.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
