<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.agentCommision.home.title">Agent Commisions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent-commision" [routerLink]="['/agent-commision/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="playwinApp.agentCommision.home.createLabel">
            Create a new Agent Commision
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'playwinApp.agentCommision.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="agentCommisions?.length === 0">
        <span jhiTranslate="playwinApp.agentCommision.home.notFound">No agentCommisions found</span>
    </div>
    <div class="table-responsive" *ngIf="agentCommisions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="commisionPercentage"><span jhiTranslate="playwinApp.agentCommision.commisionPercentage">Commision Percentage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="playwinApp.agentCommision.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="coin.displayName"><span jhiTranslate="playwinApp.agentCommision.coin">Coin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="game.displayName"><span jhiTranslate="playwinApp.agentCommision.game">Game</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agentCommision of agentCommisions ;trackBy: trackId">
                <td><a [routerLink]="['/agent-commision', agentCommision.id, 'view' ]">{{agentCommision.id}}</a></td>
                <td>{{agentCommision.commisionPercentage}}</td>
                <td>
                    {{agentCommision.user?.login}}
                </td>
                <td>
                    <div *ngIf="agentCommision.coin">
                        <a [routerLink]="['/coin', agentCommision.coin?.id, 'view' ]" >{{agentCommision.coin?.displayName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agentCommision.game">
                        <a [routerLink]="['/game', agentCommision.game?.id, 'view' ]" >{{agentCommision.game?.gameName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agent-commision', agentCommision.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agent-commision', agentCommision.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agent-commision', { outlets: { popup: agentCommision.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="agentCommisions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
