<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-agent-commision-heading" jhiTranslate="playwinApp.agentCommision.home.createOrEditLabel">Create or edit a Agent Commision</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.agentCommision.commisionPercentage" for="field_commisionPercentage">Commision Percentage</label>
                    <input type="number" class="form-control" name="commisionPercentage" id="field_commisionPercentage"
                           formControlName="commisionPercentage"/>
                    <div *ngIf="editForm.get('commisionPercentage').invalid && (editForm.get('commisionPercentage').dirty || editForm.get('commisionPercentage').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commisionPercentage').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('commisionPercentage')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.agentCommision.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option *ngIf="!editForm.get('user').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('user').invalid && (editForm.get('user').dirty || editForm.get('user').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('user').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.agentCommision.game" for="field_game">Game</label>
                    <select (change)="gameChange(null)" class="form-control" id="field_game" name="game" formControlName="game">
                        <option *ngIf="!editForm.get('game').value" [ngValue]="null" selected></option>
                        <option [ngValue]="gameOption.id === editForm.get('game').value?.id ? editForm.get('game').value : gameOption" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.gameName}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('game').invalid && (editForm.get('game').dirty || editForm.get('game').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('game').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.agentCommision.coin" for="field_coin">Coin</label>
                    <select class="form-control" id="field_coin" name="coin" formControlName="coin">
                        <option *ngIf="!editForm.get('coin').value" [ngValue]="null" selected></option>
                        <option [ngValue]="coinOption.id === editForm.get('coin').value?.id ? editForm.get('coin').value : coinOption" *ngFor="let coinOption of coins; trackBy: trackCoinById">{{coinOption.displayName}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('coin').invalid && (editForm.get('coin').dirty || editForm.get('coin').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('coin').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
               
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
