coin<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gameResult">
            <h2><span jhiTranslate="playwinApp.gameResult.detail.title">Game Result</span> {{gameResult.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.gameResult.gameTime">Game Time</span></dt>
                <dd>
                    <span>{{gameResult.gameTime}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameResult.winnersNos">Winners Nos</span></dt>
                <dd>
                    <span>{{gameResult.winnersNos}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameResult.remarks">Remarks</span></dt>
                <dd>
                    <span>{{gameResult.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameResult.game">Game</span></dt>
                <dd>
                    <div *ngIf="gameResult.game">
                        <a [routerLink]="['/game', gameResult.game?.id, 'view']">{{gameResult.game?.gameName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="playwinApp.gameResult.coin">Coin</span></dt>
                <dd>
                    <div *ngIf="gameResult.coin">
                        <a [routerLink]="['/coin', gameResult.coin?.id, 'view']">{{gameResult.coin?.cointType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game-result', gameResult.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
