<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-game-result-heading" jhiTranslate="playwinApp.gameResult.home.createOrEditLabel">Create or edit a Game Result</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gameResult.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameResult.gameTime" for="field_gameTime">Game Time</label>
                    <div class="d-flex">
                        <input id="field_gameTime" type="datetime-local" class="form-control" name="gameTime" formControlName="gameTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('gameTime').invalid && (editForm.get('gameTime').dirty || editForm.get('gameTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gameTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('gameTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameResult.winnersNos" for="field_winnersNos">Winners Nos</label>
                    <input type="text" class="form-control" name="winnersNos" id="field_winnersNos"
                           formControlName="winnersNos"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameResult.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameResult.game" for="field_game">Game</label>
                    <select class="form-control" id="field_game" name="game" formControlName="game">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gameOption.id === editForm.get('game').value?.id ? editForm.get('game').value : gameOption" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.gameName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.gameResult.coin" for="field_coin">Coin</label>
                    <select class="form-control" id="field_coin" name="coin" formControlName="coin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="coinOption.id === editForm.get('coin').value?.id ? editForm.get('coin').value : coinOption" *ngFor="let coinOption of coins; trackBy: trackCoinById">{{coinOption.gameName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
