<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.gameResult.home.title">Game Results</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="container resultTab">
        <ul class="nav">
            <li class="nav-item active" *ngFor="let game of games" (click)="tabClick(game)">
                <a class="nav-link btn " data-toggle="tab">{{game.gameName}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div *ngFor="let game of games" class="tab-pane container" [hidden]="!game.isEnable">
                <div class="row">
                    <div class="col-4">
                        <input id="field_endTime" type="date" 
                        class="form-control" name="endTime" 
                        placeholder="YYYY-MM-DD" [(ngModel)]="currDate" />
                    </div>  
                    <div class="col-2">
                        <button class="btn btn-primary" (click)="getResult(game.id)"> Search</button>
                    </div>
                </div>           
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Game Time</th>
                                <th *ngFor="let coin of game.coins">{{coin.displayName}} </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="resutlMap.get(game.id)">
                            <tr *ngFor="let wrapper of resutlMap.get(game.id)">
                                <td>{{wrapper.gameResults[0]?.gameTime | date:'shortTime'}}</td>
                                <td *ngFor="let gameResult of wrapper.gameResults">
                                    <!-- {{gameResult.coin.displayName}} -->
                                    {{gameResult.winnersNos}}

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>