<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.wallet.home.title">Wallets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wallet"
            [routerLink]="['/wallet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down">
                Transfer Amount
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <jhi-user-filter (userChange)="loadWallet($event)" [account]="currentAccount"></jhi-user-filter>
    <div class="table-responsive" *ngIf="wallets">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="balance"><span jhiTranslate="playwinApp.wallet.balance">Balance</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="date"><span jhiTranslate="playwinApp.wallet.date">Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="credit"><span jhiTranslate="playwinApp.wallet.credit">Credit</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="debit"><span jhiTranslate="playwinApp.wallet.debit">Debit</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="remarks"><span jhiTranslate="playwinApp.wallet.remarks">Remarks</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wallet of wallets ;trackBy: trackId">
                    <td><a [routerLink]="['/wallet', wallet.id, 'view' ]">{{wallet.id}}</a></td>
                    <td>{{wallet.balance}}</td>
                    <td>{{wallet.date | date:'short'}}</td>
                    <td>{{wallet.credit}}</td>
                    <td>{{wallet.debit}}</td>
                    <td>{{wallet.remarks}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="wallets && wallets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>  