<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wallet">
            <h2><span jhiTranslate="playwinApp.wallet.detail.title">Wallet</span> {{wallet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.wallet.balance">Balance</span></dt>
                <dd>
                    <span>{{wallet.balance}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.wallet.date">Date</span></dt>
                <dd>
                    <span>{{wallet.date}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.wallet.credit">Credit</span></dt>
                <dd>
                    <span>{{wallet.credit}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.wallet.debit">Debit</span></dt>
                <dd>
                    <span>{{wallet.debit}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.wallet.remarks">Remarks</span></dt>
                <dd>
                    <span>{{wallet.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.wallet.user">User</span></dt>
                <dd>
                    {{wallet.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wallet', wallet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
