<div class="clearfix carouselContainer">
	<div class="overlaypan"></div>
	<ngb-carousel>
		<ng-template ngbSlide *ngFor="let game of gameDtos">
			<img [src]="game.image" alt="{{game.game.gameName}}">
		</ng-template>
	</ngb-carousel>
	<div class="carousel-caption">

		<div id="collapseExample" class="boxcontainer">
			<div class="card text-white">
				<div class="card-body">
					<div class="card-text">
						<div class="row" *ngFor="let game of gameDtos">
							
							
							<div class="col-8">
									<div class="gamename">
											<span class="badge badge-primary"> {{game.game.gameName}}</span>
										</div>

										<div class="drawin-progress" *ngIf="game.isGameDrowInProgress" class="card-body">
												<div class="row">
													<div class="col-5">
														<div class="center">Next result comming soon..</div>
													</div>
													<div class="col-7">
														<div class="spinner">
															<div class="bounce1"></div>
															<div class="bounce2"></div>
															<div class="bounce3"></div>
															<div class="bounce4"></div>
															<div class="bounce5"></div>
															<div class="bounce6"></div>
				
														</div>
													</div>
												</div>
											</div>
								<div class="gameresult" [hidden]="game.isGameDrowInProgress"
									*ngFor="let gameResult of game.gameResult">
									<div class="brand-card">
										<div class="double-label">
											<span class="primary">{{gameResult.coin.displayName}} </span>
											<span
												class="info">{{gameResult.winnersNos.toString().padStart(2, "0")}}</span>

										</div>
									</div>

								</div>
							
								<countdown [config]="{leftTime:  game.leftTime }">$!m!:$!s!
								</countdown>
							
							<div [hidden]="game.isGameDrowInProgress" class="nextdraw">
								<span class="badge badge-info">N.Draw @ {{game.nextDrowTime |date:'shortTime'}}</span>
							</div>
						</div>
							<div class="col-4" *ngIf="isTimeout(game.game)">
								Timeout, Next draw on tomorrow @ {{game.game.startTime |date:'shortTime'}}
							</div>
							<div class="col-4" *ngIf="!isTimeout(game.game)">
								<div class="row">
									<div class="col-6">
										<a class="btn btn-secondary btn-sm" href="/play-game">Play now</a>
									</div>
									<div class="col-6">
										<a class="btn btn-secondary btn-sm"
											href="/game-result/{{game.game.gameName}}">See Results</a>
									</div>
								</div>
								<div class="row">&nbsp; </div>
							</div>


						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- <div class="row"><br></div> -->
<div class="container clearfix">
	<div class="row">&nbsp; </div>
	<div class="row" *ngFor="let game of gameDtos">
		<div id="collapseExample" [ngbCollapse]="game.isCollapse" class="boxcontainer col-12">

			<div class="card text-white">

				<div *ngIf="game.isGameDrowInProgress" class="card-body">

					<div class="center">Next result comming soon..</div>
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>

					</div>
				</div>
				<div>
					<div class="card-header">
						<span class="badge badge-primary"> {{game.game.gameName}}</span>
						<span class="badge badge-info">{{game.game.interval}}</b> minutes </span>
						<span> Result of Last Drow @ time ...</span>
					</div>
					<div *ngIf="!game.isGameDrowInProgress" class="card-body">

						<div class="card-text">

							<div class="row">
								<div class="col-3">
									<img [src]="game.image" class="rounded-circle" alt="{{game.game.gameName}}">
								</div>
								<div class="col-3" *ngFor="let gameResult of game.gameResult">

									<div class="brand-card">
										<div class="brand-card-header bg-stack-overflow">

											<button class="btn btn-primary circle .btn-lg">
												{{gameResult.coin.displayName}} -
												<span
													class="coin circle">{{gameResult.winnersNos.toString().padStart(2, "0")}}</span>
											</button>


										</div>
										<div class="brand-card-body">
											<div class="double-label">
												<span class="info">Cost </span>
												<span class="info">₹{{gameResult.coin.basePrice}}</span>
											</div>
											<div class="double-label">
												<span class="info">W.Price </span>
												<span class="info">₹{{gameResult.coin.baseWinningPrice}}</span>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="card-footer">
						<div class="row">
							<div class="col-md-6" *ngIf="!isTimeout(game.game)">
								Next drow @ {{game.nextDrowTime |date:'shortTime'}}

							</div>
							<div lass="col-md-6">
								<div class="timetoday" *ngIf="isTimeout(game.game)"> Timeout for today, <br> Next drow
									time on tomorrow @ {{game.game.startTime |date:'shortTime'}}</div>
								<div class="btnpan">
									<a href="/play-game" class="btn btn-primary marginL15">Play now</a>
									<a href="/game-result/{{game.game.gameName}}" class="btn btn-primary marginL15">See
										Results</a>
									<div class="btn">
										Time Left
										<countdown [config]="{leftTime:  game.leftTime }">
											$!m!:$!s!
										</countdown>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="row">&nbsp; </div>
			</div>

		</div>
	</div>