/* ==========================================================================
Main page styles
========================================================================== */

.spinner {
  margin: 100px auto 0;
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffb400;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.circle {
  border-radius: 50%;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner .bounce3 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce4 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner .bounce5 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce6 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}
.le {
  position: absolute;
  top: 72%;
}
.next_drow {
  font-size: 12px;
  color: lightsteelblue;
}

.im_vx {
  position: absolute;
  top: 51%;
  margin: 10%;
  font-size: 19px;
  font-family: monospace;
  color: aliceblue;
}
.category_box ul {
  display: inline-block;
}
.number_box {
  text-align: center !important;
}
.next_box {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.in_box {
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}
.next_box h2 {
  position: relative;
  background: linear-gradient(#f2000d, #cf000c);

  color: #fff;
  font-size: 26px;
  height: 67px;
}
.rst_box {
  display: block;
  text-align: center;
  margin: auto;
}
.Digital {
  font-family: 'Digital-7';
}
.clock_box {
  text-align: center;
}
.icon_img {
  overflow: hidden;
  margin-bottom: 10px;
  border: 3px solid #d89913;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aba620;
}
.txt_f {
  text-align: center;
  margin-bottom: 20px;
}
.box_lu {
  position: relative;
  padding: 20px;
}
img {
  width: 100%;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
.gamename {
  float: left;
  min-width: 80px;
  margin-right: 10px;
}
.gamename .badge {
  display: block;
  text-align: left;
  border-radius: 0.25em;
  padding: 0.4em;
}
.gameresult {
  float: left;
}
.nextdraw {
  float: left;
  margin-left: 10px;
}
.gamename .badge-primary {
  background-color: #ffb400;
}
