/* body {
    background: #fff!important;
} */

a:hover {
  font-weight: normal !important;
}

.navbar-primary.bg-info {
  background-color: #131313 !important;
  border-bottom: 1px solid #ffb400;
}

.navbar-nav .nav-item a {
  color: #fff;
}

.navbar-nav .nav-item.active a {
  color: #ffb400;
}

.navbar-brand .navbar-title {
  color: #ffb400;
}

.card-header .pull-right.ng-fa-icon {
  float: right;
}

.footet_txt .box_twit a {
  color: #fff;
}

.footet_txt .box_twit .search_box .box_in {
  width: 62%;
}

.footet_txt .box_twit .search_box .btn_v {
  width: 35%;
}

.paddingLR0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.carouselContainer {
  position: relative;
}

.carouselContainer .overlaypan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.6;
  background: #000000;
  z-index: 2;
}

.footer {
  background: #252525;
  border-top: 1px solid #ffb400 !important;
}

.footer .footet_txt h3 {
  margin-top: 1rem;
}

.footer .footer_b {
  padding: 5px 15px;
  font-size: 14px;
}

.footer .footer_bg .row,
.contentContainer .row {
  margin: 0;
}

.contentContainer {
  padding-top: 95px;
}

.carouselContainer .carousel.slide .carousel-indicators {
  bottom: -5px;
}

.carouselContainer .carousel.slide .carousel-caption {
  bottom: -65px;
  padding-top: 0;
  padding-bottom: 0;
}

.carouselContainer .carousel-control-prev,
.carouselContainer .carousel-control-next {
  display: block;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
  top: 46%;
}

.carouselContainer .carousel-control-prev {
  left: 15px;
}

.carouselContainer .carousel-control-next {
  right: 15px;
}

.carouselContainer .carousel-control-prev .carousel-control-prev-icon {
  position: relative;
  top: 5px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carouselContainer .carousel-control-next .carousel-control-next-icon {
  position: relative;
  top: 5px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel.slide .carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffb400;
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border: 0;
}

.boxcontainer .card {
  background: #232931;
  -webkit-box-shadow: 0px 75px 94px -66px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 75px 94px -66px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 75px 94px -66px rgba(0, 0, 0, 0.66);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  line-height: normal;
}

.boxcontainer .card hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.carouselContainer .carousel-caption .closewin {
  float: right;
  position: absolute;
  right: -6px;
  top: -11px;
}

.carouselContainer .carousel-inner {
  overflow: visible;
}

.boxcontainer .card-body {
  padding: 0;
}

.boxcontainer .card-body .card-title {
  margin-bottom: 0;
}

.boxcontainer .card-body .spinner {
  margin-top: 0;
}

.btn.btn-primary {
  border-radius: 4px;
}

.btn-primary {
  background-color: #ffb400 !important;
  border-color: #ffb400 !important;
  color: #000 !important;
}

.btn-primary:hover {
  background-color: #eba600 !important;
  border-color: #eba600 !important;
  color: #000 !important;
}

.loadingcontainer {
  float: left;
  width: 50px;
}

.marginL15 {
  margin-left: 15px;
}

.marginB0 {
  margin-bottom: 0 !important;
}

.marginB10 {
  margin-bottom: 10px;
}

.paddingR0 {
  padding-right: 0 !important;
}

.cardrow .col-md-6 {
  padding-left: 0;
}

.double-label {
  display: table;
  margin: 0 5px;
}

.double-label > span {
  background-color: #337ab7;
  color: #ffffff;
  display: table-cell;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1;
  padding: 0.3em 0.8em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.double-label > span:first-child {
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
}

.double-label > span:nth-child(2) {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.double-label > span.primary {
  background-color: #4e5d6c;
}

.card-header.padding5 {
  padding: 5px;
}

.noPadding {
  padding: 0 !important;
}

.card.nobg,
.card-header.nobg {
  background: none;
  border: 0;
}

@media (max-width: 1023px) {
  .carouselContainer .carousel.slide .carousel-caption {
    bottom: 0px;
    left: 0;
    right: 0;
    position: relative;
  }
  .carouselContainer .carousel.slide .carousel-indicators {
    bottom: auto;
    top: 15px;
  }
  .contentContainer {
    padding-top: 30px;
  }
  .contentContainer .card-body .card-group {
    width: 100%;
  }
  .timeleft {
    margin-bottom: 5px;
  }

  .circle {
    border-radius: 50%;
  }

  .nav .nav-item:active {
    background: #ffb400 !important;
  }
}
