<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bid-heading" jhiTranslate="playwinApp.bid.home.createOrEditLabel">Create or edit a Bid</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bid.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.isWinner" for="field_isWinner">Is Winner</label>
                    <input type="checkbox" class="form-control" name="isWinner" id="field_isWinner"
                           formControlName="isWinner"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.bidNo" for="field_bidNo">Bid No</label>
                    <input type="number" class="form-control" name="bidNo" id="field_bidNo"
                           formControlName="bidNo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.noOfCoins" for="field_noOfCoins">No Of Coins</label>
                    <input type="number" class="form-control" name="noOfCoins" id="field_noOfCoins"
                           formControlName="noOfCoins"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.bidTime" for="field_bidTime">Bid Time</label>
                    <div class="d-flex">
                        <input id="field_bidTime" type="datetime-local" class="form-control" name="bidTime" formControlName="bidTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('bidTime').invalid && (editForm.get('bidTime').dirty || editForm.get('bidTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bidTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('bidTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.isDrowHappan" for="field_isDrowHappan">Is Drow Happan</label>
                    <input type="checkbox" class="form-control" name="isDrowHappan" id="field_isDrowHappan"
                           formControlName="isDrowHappan"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.game" for="field_game">Game</label>
                    <select class="form-control" id="field_game" name="game" formControlName="game">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gameOption.id === editForm.get('game').value?.id ? editForm.get('game').value : gameOption" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.gameName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.coin" for="field_coin">Coin</label>
                    <select class="form-control" id="field_coin" name="coin" formControlName="coin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="coinOption.id === editForm.get('coin').value?.id ? editForm.get('coin').value : coinOption" *ngFor="let coinOption of coins; trackBy: trackCoinById">{{coinOption.cointType}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.bid.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
