<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bid">
            <h2><span jhiTranslate="playwinApp.bid.detail.title">Bid</span> {{bid.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.bid.isWinner">Is Winner</span></dt>
                <dd>
                    <span>{{bid.isWinner}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.bidNo">Bid No</span></dt>
                <dd>
                    <span>{{bid.bidNo}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.noOfCoins">No Of Coins</span></dt>
                <dd>
                    <span>{{bid.noOfCoins}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.bidTime">Bid Time</span></dt>
                <dd>
                    <span>{{bid.bidTime}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.isDrowHappan">Is Drow Happan</span></dt>
                <dd>
                    <span>{{bid.isDrowHappan}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.remarks">Remarks</span></dt>
                <dd>
                    <span>{{bid.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.game">Game</span></dt>
                <dd>
                    <div *ngIf="bid.game">
                        <a [routerLink]="['/game', bid.game?.id, 'view']">{{bid.game?.gameName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.coin">Coin</span></dt>
                <dd>
                    <div *ngIf="bid.coin">
                        <a [routerLink]="['/coin', bid.coin?.id, 'view']">{{bid.coin?.cointType}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="playwinApp.bid.user">User</span></dt>
                <dd>
                    {{bid.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bid', bid.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
