<jhi-user-filter (userChange)="loadBids($event)" [account]="currentAccount"></jhi-user-filter>
<div class="bidTable">
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.bid.home.title">Bids</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bid"
            [routerLink]="['/play-game']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down">
                Start Biding
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="bids">

        <table class="table table-bordered ">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="status"><span>Status </span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="date"><span>Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="gameName"><span>Game</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="totalCoins"><span>Total Coins</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="totalPrice"><span>Total Price</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="totalWinningPrice"><span>Total Wining Price</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="totalProfit"><span>Total Profit</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="totalProfit"><span>More details</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </tr>
            </thead>

            <tbody *ngFor="let bid of bids ;let i = index">
                <tr (click)="bid.isHide = !bid.isHide"  >
                    <td data-label="Status" [class]="getClass(bid.status)">{{bid.status}}</td>
                    <td data-label="Date">{{bid.date | date:'short'}}</td>
                    <td data-label="Game">{{bid.gameName}}</td>
                    <td data-label="Total Coins"> {{bid.totalCoins}}</td>
                    <td data-label="Total Price">{{bid.totalPrice}} </td>
                    <td data-label="Total Wining Price"> {{bid.totalWinningPrice}} </td>
                    <td data-label="Total Profit"> {{bid.totalProfit}} </td>
                    <td data-label="see more" (click)="bid.isHide = !bid.isHide">
                        <fa-icon icon="eye" (click)="bid.isHide = !bid.isHide"></fa-icon>
                    </td>
                </tr>
                <tr [hidden]="!bid.isHide">
                    <td colspan="8">
                        <table class="table table-striped table-bordered table-info">
                          
                                <tr>
                                    <th>Status </th>
                                    <th>Coin</th>
                                    <th>Bidding No</th>
                                    <th>No.of coins </th>
                                    <th>Price</th>
                                    <th>Win Price</th>
                                    <th>Total Paid Price</th>
                                    <th>Total Winning Price</th>
                                    <th>Profit</th>
                                </tr>
                                <tr *ngFor="let coin of bid.coinDtos">
                                    <td data-label="Status" [class]='getClass(coin.status)'>{{coin.status}} </td>
                                    <td data-label="Coin">{{coin.displayName}}</td>
                                    <td data-label="Bidding No">{{coin.bidNo}}</td>
                                    <td data-label="No.of coins ">{{coin.noOfCoin}}</td>
                                    <td data-label="Price">{{coin.price}}</td>
                                    <td data-label="Win Price">{{coin.winPrice}}</td>
                                    <td data-label="Total Paid Price">{{coin.totalPrice}}</td>
                                    <td data-label="Total Winning Price">{{coin.totalWinningPrice}}</td>
                                    <td data-label="Profit">{{coin.totalProfit}}</td>
                                </tr>
                           
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div *ngIf="bids && bids.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>