@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cerulean/variables';
@import '~bootstrap/scss/variables';

.bidTable th {
  white-space: pre !important;
}

.bidTable td {
  white-space: pre !important;
}
.paddingZero {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.bidTable .paddingR {
  padding-left: 2% !important;
}
.bidTable .paddingRZero {
  padding-left: 0 !important;
}

/* CSS for smaller view spaces */
@media screen and (max-width: 768px) {
  /* hide table headings */
  .jim-table-responsive table thead {
    display: none;
  }

  /* treat rows like divs */
  .jim-table-responsive table tr {
    display: block;
    border-top: 2px solid lightgray; /* separate row data with thicker line */
    margin-top: 5px;
  }

  /* treat columns like divs */
  .jim-table-responsive table td {
    display: block;
    text-align: right; /* text to right */
  }

  /* this part is ugly, but necessary to show label on left */
  .jim-table-responsive table td:before {
    content: attr(data-label);
    float: left; /* label to left */
    font-weight: 700;
  }
}
