<div>
    <h2 id="page-heading">
        <span jhiTranslate="playwinApp.smsConfig.home.title">Sms Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sms-config" [routerLink]="['/sms-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="playwinApp.smsConfig.home.createLabel">
            Create new Sms Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'playwinApp.smsConfig.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="smsConfigs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="smsTimeSlots"><span jhiTranslate="playwinApp.smsConfig.smsTimeSlots">Sms Time Slots</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coins"><span jhiTranslate="playwinApp.smsConfig.coins">Coins</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiryDate"><span jhiTranslate="playwinApp.smsConfig.expiryDate">Expiry Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="playwinApp.smsConfig.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobileNo"><span jhiTranslate="playwinApp.smsConfig.mobileNo">Mobile No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="playwinApp.smsConfig.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="game.gameName"><span jhiTranslate="playwinApp.smsConfig.game">Game</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let smsConfig of smsConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/sms-config', smsConfig.id, 'view' ]">{{smsConfig.id}}</a></td>
                <td>{{smsConfig.smsTimeSlots}}</td>
                <td>{{smsConfig.coins}}</td>
                <td>{{smsConfig.expiryDate | date:'medium'}}</td>
                <td>{{smsConfig.description}}</td>
                <td>{{smsConfig.mobileNo}}</td>
                <td>
                   
                    <div *ngIf="smsConfig.user">
                            <a [routerLink]="['../admin/user-management', smsConfig.user?.login, 'view' ]" >{{smsConfig.user?.login}}</a>
                        </div>
                </td>
                <td>
                    <div *ngIf="smsConfig.game">
                        <a [routerLink]="['../game', smsConfig.game?.id, 'view' ]" >{{smsConfig.game?.gameName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sms-config', smsConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sms-config', smsConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sms-config', { outlets: { popup: smsConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="smsConfigs && smsConfigs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
