<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="smsConfig">
            <h2><span jhiTranslate="playwinApp.smsConfig.detail.title">Sms Config</span> {{smsConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="playwinApp.smsConfig.smsTimeSlots">Sms Time Slots</span></dt>
                <dd>
                    <span>{{smsConfig.smsTimeSlots}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.smsConfig.coins">Coins</span></dt>
                <dd>
                    <span>{{smsConfig.coins}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.smsConfig.expiryDate">Expiry Date</span></dt>
                <dd>
                    <span>{{smsConfig.expiryDate}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.smsConfig.description">Description</span></dt>
                <dd>
                    <span>{{smsConfig.description}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.smsConfig.mobileNo">Mobile No</span></dt>
                <dd>
                    <span>{{smsConfig.mobileNo}}</span>
                </dd>
                <dt><span jhiTranslate="playwinApp.smsConfig.user">User</span></dt>
                <dd>
                    {{smsConfig.user?.login}}
                </dd>
                <dt><span jhiTranslate="playwinApp.smsConfig.game">Game</span></dt>
                <dd>
                    <div *ngIf="smsConfig.game">
                        <a [routerLink]="['/game', smsConfig.game?.id, 'view']">{{smsConfig.game?.gameName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sms-config', smsConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
