<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sms-config-heading" jhiTranslate="playwinApp.smsConfig.home.createOrEditLabel">Create or edit a
                Sms Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="playwinApp.smsConfig.game"
                        for="field_game">Game</label>
                    <select (change)="gameChange()" class="form-control" id="field_game" name="game"
                        formControlName="game">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="gameOption.id === editForm.get('game').value?.id ? editForm.get('game').value : gameOption"
                            *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.gameName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col" *ngFor="let coin of coins">
                            <input type="checkbox" name="coin" (change)="coinCheck($event)" id="field_coin"
                                [value]="coin?.displayName" [checked]="selectedCoins?.includes(coin.displayName)"/>
                            <label>{{coin?.displayName}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-2" *ngFor="let currTime of  times">

                            <input type="checkbox" (change)="timeCheck($event)" name="time" id="field_time"
                                [value]="currTime" [checked]="selectedTimes?.includes(currTime)" />
                            <label for="field_time">{{currTime}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="playwinApp.smsConfig.user"
                            for="field_user">User</label>
                        <select class="form-control" (change)="onChangeUser()" id="field_user" name="user"
                            formControlName="user">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption"
                                *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="playwinApp.smsConfig.mobileNo"
                            for="field_mobileNo">Mobile No</label>
                        <input type="text" class="form-control" name="mobileNo" id="field_mobileNo"
                            formControlName="mobileNo" [(ngModel)]="mobileNum" [value]="mobileNum" [readonly]="mobDisabled" />
                    </div>

                    <div class="form-group" [hidden]="!smsConfig.id">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                    </div>
                    <div class="form-group">
                            <label class="form-control-label" jhiTranslate="playwinApp.smsConfig.smsTimeSlots" for="field_smsTimeSlots">Sms Time Slots</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedTimes" [value]="selectedTimes" name="smsTimeSlots" id="field_smsTimeSlots"
                                   formControlName="smsTimeSlots" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="playwinApp.smsConfig.coins" for="field_coins">Coins</label>
                        <input type="text" class="form-control"  [(ngModel)]="selectedCoins" [value]="selectedCoins" name="coins" id="field_coins"
                                formControlName="coins" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="playwinApp.smsConfig.expiryDate"
                            for="field_expiryDate">Expiry Date</label>
                        <div class="d-flex">
                            <input id="field_expiryDate" type="datetime-local" class="form-control" name="expiryDate"
                                formControlName="expiryDate" placeholder="YYYY-MM-DD HH:mm" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="playwinApp.smsConfig.description"
                            for="field_description">Description</label>
                        <input type="text" class="form-control" name="description" id="field_description"
                            formControlName="description" />
                        <div
                            *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('description').errors.required"
                                jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
        </form>
    </div>
</div>